
.parent{
    padding: 20px;
    background-color: lightgreen;
}
.child{
    margin-top: 10px;
    padding: 5px;
    background-color: coral;
}
.child li{
    margin-bottom: 5px;
}
.child button{
    margin-left: 5px;
}